{% extends 'app/pages/base.html' %}
{% load static%}

{% block content  %}

<div class="container">
    <div class="image-wrapper">
        <img src="{{ data.images }}" alt="{{ data.title }}">
    </div>
    <div class="info-wrapper">
        <p class="title">{{ data.title }}</p>
        <p class="other-names">{{ data.title_japanese }}</p>
        <p class="type">{{ data.type }}</p>
        <p class="discription">{{ data.synopsis }}</p>
        <p class="released-status">{{ data.aired}} - {{ data.status}}</p>
        {% for genre in data.genres %}
        <p class="genres">{{ genre}}</p>
{% endfor %}

{% endblock  %}




